<div class="add-main">
  <h2 class="text-center">Editar pedido</h2>
  <form [formGroup]="addForm" novalidate class="form">

    <input type="hidden" formControlName="clientId" name="clientId">

    <div class="alert alert-danger" *ngIf="addForm.get('nome').hasError('required') && addForm.get('nome').touched">
      Entre com o nome completo
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('nome').hasError('maxlength') && addForm.get('nome').touched">
      Máximo 40 caracteres
    </div>

    <div class="form-group">
      <label for="nome">Nome completo:</label>
      <input
        type="text"
        formControlName="nome"
        placeholder="Nome cliente"
        name="nome"
        class="form-control"
      />
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('telefone').hasError('required') && addForm.get('telefone').touched">
      Entre com o telefone
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('telefone').hasError('maxlength') && addForm.get('telefone').touched">
      Máximo 11 caracteres
    </div>

    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input
        type="text"
        formControlName="telefone"
        placeholder="Telefone cliente"
        name="telefone"
        class="form-control"
      />
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">
      Entre com o email
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('email').hasError('maxlength') && addForm.get('email').touched">
      Máximo 40 caracteres
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Email cliente"
        name="email"
        class="form-control"
      />
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('pedido').hasError('required') && addForm.get('pedido').touched">
      Entre com o pedido
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('pedido').hasError('maxlength') && addForm.get('pedido').touched">
      Máximo 50 caracteres
    </div>

    <div class="form-group">
      <label for="pedido">Pedido:</label>
      <input
        type="pedido"
        formControlName="pedido"
        placeholder="Pedido cliente"
        name="pedido"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input
        type="descricao"
        formControlName="descricao"
        placeholder="Descrição do pedido"
        name="descricao"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="condicao">Condição:</label>
      <input
        type="condicao"
        formControlName="condicao"
        placeholder="Condição do pedido"
        name="condicao"
        class="form-control"
      />
    </div>

    <button class="btn btn-success" (click)="update()">Salvar mudanças</button>
  </form>

  <a routerLink="/view" class="btn btn-primary">Ver pedidos</a>
</div>