.req-list{
  padding: 5px 5px 5px 5px;
  margin:auto;
  justify-content: start;
}

.row:first-child{
  background-color: aquamarine;
}

.row + .row{
  background-color: rgb(127, 255, 180);
  margin-top: 10px;
}

.Head{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Body{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(127, 255, 180);
  font-size: 12px;
}

.center{
  justify-content: center;
}

.largeText{
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: start;;
}

.largeText:hover{
  overflow: visible;
  white-space: normal;
}

.largeText span:hover{
  visibility: normal;
}

button {
  display: flex;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

div a{
  margin-top: 10px;
}