<div class="row std-list">
  <div class="col-md-2 std-list Head">Id</div>
  <div class="col-md-2 std-list Head">First Name</div>
  <div class="col-md-2 std-list Head">Last Name</div>
  <div class="col-md-2 std-list Head">Email</div>
  <div class="col-md-2 std-list Head">Edit</div>
  <div class="col-md-2 std-list Head">Delete</div>
</div>

<div class="row std-list" *ngFor="let std of students">
  <div class="col-md-2 std-list Body">{{std.sId}}</div>
  <div class="col-md-2 std-list Body">{{std.fName}}</div>
  <div class="col-md-2 std-list Body">{{std.lName}}</div>
  <div class="col-md-2 std-list Body">{{std.email}}</div>
  <div class="col-md-2 std-list Body"> <button class="btn btn-primary" (click)="edit(std)">Edit</button></div>
  <div class="col-md-2 std-list Body"> <button class="btn btn-danger" (click)="delete(std)">Delete</button></div>
</div>

<div>
  <a routerLink="/add" class="btn btn-primary">Add New Student</a>
</div>